address.text-center
  p  
    a(href='#') 关于我 
    | | 
    a(href='#') 联系我 
    | |
    a(href='#') 意见反馈
  p Copyrigh © 2017 by hexin. just go ahead.
  p
    a(href='mailto:hexin_33@126.com') hexin_33@126.com
